body{
    margin: 0;
    background-image: var(--bg-light-gradient);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
 .button{
    background-color: var(--bs-gray-100);
 }
